In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("UNZIP_FOR_NOTEBOOKS_FINAL/DATA/Advertising.csv")

In [6]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

   Train | Test Split Procedure 

0. Clean and adjust data as necessary for X and y
1. Split Data in Train/Test for both X and y
2. Fit/Train Scaler on Training X Data
3. Scale X Test Data
4. Create Model
5. Fit/Train Model on X Train Data
6. Evaluate Model on X Test Data (by creating predictions and comparing to Y_test)
7. Adjust Parameters as Necessary and repeat steps 5 and 6.

In [10]:
X = df.drop('sales', axis = 1)

In [11]:
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [34]:
y = df['sales']

In [35]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state= 101)

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
scaler = StandardScaler()

In [40]:
scaler.fit(X_train)

StandardScaler()

In [41]:
X_train = scaler.transform(X_train)

In [42]:
X_test = scaler.transform(X_test)

In [43]:
from sklearn.linear_model import Ridge

In [44]:
model = Ridge(alpha=100)

In [45]:
model.fit(X_train,y_train)

Ridge(alpha=100)

In [46]:
y_pred = model.predict(X_test)

In [47]:
from sklearn.metrics import mean_squared_error

In [48]:
mean_squared_error(y_test,y_pred)

7.34177578903413

In [49]:
model2 = Ridge(alpha=1)

In [50]:
model2.fit(X_train,y_train)

Ridge(alpha=1)

In [51]:
y_pred = model2.predict(X_test)

In [52]:
mean_squared_error(y_test,y_pred)

2.3190215794287514

## cross validatin

In [79]:
X = df.drop('sales', axis = 1)
y = df['sales']

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)

In [82]:
# test_size = 0.5(50% of 30% other --> test = 15% of all data)
X_eval, X_test, y_eval, y_test = train_test_split(X_other, y_other, test_size=0.5, random_state=101)

In [83]:
len(X_train)

140

In [84]:
len(X_eval)

30

In [85]:
len(X_test)

30

In [86]:
from sklearn.preprocessing import StandardScaler

In [87]:
scaler = StandardScaler()

In [88]:
scaler.fit(X_train)

StandardScaler()

In [89]:
X_train = scaler.transform(X_train)

In [90]:
X_test = scaler.transform(X_test)

In [91]:
X_eval = scaler.transform(X_eval)

In [92]:
from sklearn.linear_model import Ridge

In [93]:
model1 = Ridge(alpha=100)

In [94]:
model1.fit(X_train,y_train)

Ridge(alpha=100)

In [95]:
y_eval_pred = model.predict(X_eval)

In [96]:
from sklearn.metrics import mean_squared_error

In [103]:
mean_squared_error(y_eval,y_eval_pred)

7.320101458823871

In [104]:
model_2 = Ridge(alpha=1)

In [105]:
model_2.fit(X_train,y_train)

Ridge(alpha=1)

In [106]:
y_eval_pred = model_2.predict(X_eval)

In [107]:
mean_squared_error(y_eval,y_eval_pred)

2.3837830750569853

In [109]:
y_final_test_pred = model_2.predict(X_test)

In [110]:
mean_squared_error(y_test,y_final_test_pred)

2.2542600838005176

## Cross_val_score

In [111]:
df2 = pd.read_csv("UNZIP_FOR_NOTEBOOKS_FINAL/DATA/Advertising.csv")

In [112]:
df2.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [113]:
y2 = df2['sales']
X2 = df2.drop('sales', axis = 1)

In [114]:
from sklearn.model_selection import train_test_split

In [115]:
X_train, X_test, y_train, y_test = train_test_split(X2, y2, test_size=0.3, random_state=101)

In [116]:
from sklearn.preprocessing import StandardScaler

In [117]:
scaler2 = StandardScaler()

In [118]:
scaler2.fit(X_train)

StandardScaler()

In [119]:
X_train = scaler2.transform(X_train)

In [120]:
X_test = scaler2.transform(X_test)

In [121]:
model22 = Ridge(alpha = 100)

In [122]:
from sklearn.model_selection import cross_val_score

In [123]:
scores = cross_val_score(model22,X_train,y_train,scoring='neg_mean_squared_error',
                        cv = 5)

In [124]:
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [126]:
abs(scores.mean())

8.215396464543606

In [127]:
model22 = Ridge(alpha = 1)

In [128]:
scores = cross_val_score(model22,X_train,y_train,scoring='neg_mean_squared_error',
                        cv = 5)

In [129]:
scores

array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384])

In [130]:
abs(scores.mean())

3.344839296530695

In [131]:
model22.fit(X_train,y_train)

Ridge(alpha=1)

In [132]:
y_final_pre = model22.predict(X_test)

In [134]:
mean_squared_error(y_test,y_final_pre)

2.3190215794287514

## Cross_validate

In [150]:
from sklearn.model_selection import cross_validate

In [151]:
model22 = Ridge(alpha = 100)

In [152]:
scores =  cross_validate(model22,X_train,y_train,scoring=['neg_mean_squared_error',
                                                        'neg_mean_absolute_error'],cv=10)

In [153]:
scores

{'fit_time': array([0.00244093, 0.0023818 , 0.00129175, 0.00124502, 0.002249  ,
        0.00094104, 0.00068879, 0.00063276, 0.00058603, 0.00058627]),
 'score_time': array([0.0014782 , 0.00119019, 0.00093198, 0.00083923, 0.00123096,
        0.00047493, 0.00041413, 0.00040221, 0.00039911, 0.00038886]),
 'test_neg_mean_squared_error': array([ -6.06067062, -10.62703078,  -3.99342608,  -5.00949402,
         -9.14179955, -13.08625636,  -3.83940454,  -9.05878567,
         -9.05545685,  -5.77888211]),
 'test_neg_mean_absolute_error': array([-1.8102116 , -2.54195751, -1.46959386, -1.86276886, -2.52069737,
        -2.45999491, -1.45197069, -2.37739501, -2.44334397, -1.89979708])}

In [154]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002441,0.001478,-6.060671,-1.810212
1,0.002382,0.001190,-10.627031,-2.541958
2,0.001292,0.000932,-3.993426,-1.469594
3,0.001245,0.000839,-5.009494,-1.862769
4,0.002249,0.001231,-9.141800,-2.520697
5,0.000941,0.000475,-13.086256,-2.459995
6,0.000689,0.000414,-3.839405,-1.451971
7,0.000633,0.000402,-9.058786,-2.377395
8,0.000586,0.000399,-9.055457,-2.443344
9,0.000586,0.000389,-5.778882,-1.899797

In [155]:
scores.mean()

fit_time                        0.001304
score_time                      0.000775
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [156]:
model22 = Ridge(alpha = 1)
scores =  cross_validate(model22,X_train,y_train,scoring=['neg_mean_squared_error',
                                                        'neg_mean_absolute_error'],cv=10)

In [157]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002571,0.001430,-2.962508,-1.457174
1,0.001814,0.001604,-3.057378,-1.555308
2,0.001543,0.000818,-2.173740,-1.238770
3,0.001258,0.000927,-0.833034,-0.768938
4,0.001234,0.001087,-3.464018,-1.434489
5,0.001174,0.000586,-8.232647,-1.494316
6,0.000833,0.000532,-1.905864,-1.081362
7,0.000763,0.000443,-2.765048,-1.250011
8,0.000629,0.000452,-4.989505,-1.580971
9,0.000814,0.000661,-2.846438,-1.223326

In [158]:
scores.mean()

fit_time                        0.001263
score_time                      0.000854
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [159]:
model22.fit(X_train,y_train)

Ridge(alpha=1)

In [160]:
y_final_pre = model22.predict(X_test)

In [161]:
mean_squared_error(y_test,y_final_pre)

2.3190215794287514

## Grid Search

In [164]:
df3 = pd.read_csv("UNZIP_FOR_NOTEBOOKS_FINAL/DATA/Advertising.csv")

In [165]:
df3.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [166]:
## CREATE X and y
X = df3.drop('sales',axis=1)
y = df3['sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [167]:
from sklearn.linear_model import ElasticNet

In [169]:
base_elastic_net_model = ElasticNet()

In [171]:
param_grid = {'alpha':[0.1,1,5,10,50,100],
              'l1_ratio':[.1, .5, .7, .9, .95, .99, 1]}

In [172]:
from sklearn.model_selection import GridSearchCV

In [181]:
grid_model = GridSearchCV(estimator=base_elastic_net_model,
                         param_grid=param_grid,
                         scoring='neg_mean_squared_error',
                         cv=5,verbose=2)

In [182]:
grid_model.fit(X_train,y_train)

Fitting 5 folds for each of 42 candidates, totalling 210 fits
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END ................................alpha=5, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=5, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=5, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=5, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=5, l1_ratio=1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   0.0s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   0.0s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   0.0s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   0.0s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=50, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.95; total time=   0.0s

[CV] END ............................alpha=50, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=50, l1_ratio=0.99; total time=   0.0s
[CV] END ...............................alpha=50, l1_ratio=1; total time=   0.0s
[CV] END ...............................alpha=50, l1_ratio=1; total time=   0.0s
[CV] END ...............................alpha=50, l1_ratio=1; total time=   0.0s
[CV] END ...............................alpha=50, l1_ratio=1; total time=   0.0s
[CV] END ...............................alpha=50, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.0s

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 50, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=2)

In [183]:
 grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [184]:
 grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [185]:
 grid_model.cv_results_

{'mean_fit_time': array([0.0025147 , 0.0009902 , 0.00073972, 0.0007031 , 0.00073023,
        0.00073256, 0.00066051, 0.00059476, 0.00061684, 0.00058165,
        0.00056081, 0.00060372, 0.00057597, 0.00059557, 0.00056267,
        0.00057979, 0.00053458, 0.00053301, 0.00056663, 0.00054526,
        0.00053225, 0.000594  , 0.00053773, 0.00054111, 0.00060558,
        0.00053778, 0.00056925, 0.00053825, 0.00054297, 0.00053887,
        0.00053825, 0.00054026, 0.00054765, 0.00057082, 0.00053473,
        0.00054164, 0.00067344, 0.00081539, 0.00066481, 0.00064464,
        0.00060282, 0.00054688]),
 'std_fit_time': array([2.14150526e-03, 2.35179760e-04, 2.83461944e-05, 3.77144734e-05,
        7.29623804e-05, 6.61781607e-05, 2.67099473e-05, 2.77561008e-05,
        9.30940017e-05, 3.96264589e-05, 2.82021668e-05, 4.74577317e-05,
        2.02312740e-05, 5.39542878e-05, 3.38003220e-05, 7.47633526e-05,
        3.83668760e-06, 2.57050170e-06, 2.70487323e-05, 5.95187522e-06,
        3.95688657e-06, 4.49203887e-05, 3.40396276e-06, 3.90482761e-06,
        5.85067729e-05, 4.56021889e-06, 3.49514156e-05, 7.52526994e-06,
        7.87373522e-06, 9.85035239e-06, 6.14472721e-06, 1.00056299e-05,
        1.35080485e-05, 5.08855629e-05, 4.67057067e-06, 8.94803700e-06,
        1.96987577e-04, 1.86302298e-04, 1.05666254e-04, 1.13505013e-04,
        7.77151828e-05, 9.22578244e-06]),
 'mean_score_time': array([0.00063272, 0.00032887, 0.00030785, 0.00028129, 0.00029874,
        0.00027542, 0.0002655 , 0.00025105, 0.00023322, 0.00023017,
        0.00022826, 0.00023742, 0.00023928, 0.00023708, 0.00023232,
        0.00023518, 0.00022321, 0.00022306, 0.00023155, 0.00022154,
        0.00022459, 0.00023627, 0.00022206, 0.00022416, 0.00022764,
        0.00022435, 0.00023122, 0.00022335, 0.00022607, 0.00021973,
        0.0002244 , 0.00022488, 0.00022039, 0.00022607, 0.00022125,
        0.00022392, 0.00025978, 0.00027556, 0.00025826, 0.00024476,
        0.00022883, 0.00022345]),
 'std_score_time': array([2.55353017e-04, 4.09249085e-05, 2.63477449e-05, 8.99618731e-06,
        4.09827598e-05, 2.98963589e-05, 2.79764063e-05, 1.91228942e-05,
        4.85438026e-06, 7.44477045e-06, 7.37110667e-06, 1.59732619e-05,
        1.53639271e-05, 1.51027208e-05, 7.89968221e-06, 1.25196772e-05,
        4.96781026e-06, 4.49998884e-06, 1.19260777e-05, 3.60445999e-06,
        7.80324742e-06, 1.87324796e-05, 4.97969608e-06, 4.11684755e-06,
        8.26924175e-06, 8.28654632e-06, 7.07649477e-06, 4.15532874e-06,
        4.36351597e-06, 5.33034844e-06, 5.65087241e-06, 4.95176505e-06,
        3.55107646e-06, 5.81545875e-06, 3.04205664e-06, 4.07800326e-06,
        4.31200549e-05, 3.76509364e-05, 2.51367818e-05, 1.41890907e-05,
        2.82261821e-06, 3.45961707e-06]),
 'param_alpha': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 1, 1, 1, 1, 1, 1, 1,
                    5, 5, 5, 5, 5, 5, 5, 10, 10, 10, 10, 10, 10, 10, 50,
                    50, 50, 50, 50, 50, 50, 100, 100, 100, 100, 100, 100,
                    100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_l1_ratio': masked_array(data=[0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1, 0.1, 0.5, 0.7, 0.9,
                    0.95, 0.99, 1, 0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1, 0.1,
                    0.5, 0.7, 0.9, 0.95, 0.99, 1, 0.1, 0.5, 0.7, 0.9, 0.95,
                    0.99, 1, 0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 0.1, 'l1_ratio': 0.1},
  {'alpha': 0.1, 'l1_ratio': 0.5},
  {'alpha': 0.1, 'l1_ratio': 0.7},
  {'alpha': 0.1, 'l1_ratio': 0.9},
  {'alpha': 0.1, 'l1_ratio': 0.95},
  {'alpha': 0.1, 'l1_ratio': 0.99},
  {'alpha': 0.1, 'l1_ratio': 1},
  {'alpha': 1, 'l1_ratio': 0.1},
  {'alpha': 1, 'l1_ratio': 0.5},
  {'alpha': 1, 'l1_ratio': 0.7},
  {'alpha': 1, 'l1_ratio': 0.9},
  {'alpha': 1, 'l1_ratio': 0.95},
  {'alpha': 1, 'l1_ratio': 0.99},
  {'alpha': 1, 'l1_ratio': 1},
  {'alpha': 5, 'l1_ratio': 0.1},
  {'alpha': 5, 'l1_ratio': 0.5},
  {'alpha': 5, 'l1_ratio': 0.7},
  {'alpha': 5, 'l1_ratio': 0.9},
  {'alpha': 5, 'l1_ratio': 0.95},
  {'alpha': 5, 'l1_ratio': 0.99},
  {'alpha': 5, 'l1_ratio': 1},
  {'alpha': 10, 'l1_ratio': 0.1},
  {'alpha': 10, 'l1_ratio': 0.5},
  {'alpha': 10, 'l1_ratio': 0.7},
  {'alpha': 10, 'l1_ratio': 0.9},
  {'alpha': 10, 'l1_ratio': 0.95},
  {'alpha': 10, 'l1_ratio': 0.99},
  {'alpha': 10, 'l1_ratio': 1},
  {'alpha': 50, 'l1_ratio': 0.1},
  {'alpha': 50, 'l1_ratio': 0.5},
  {'alpha': 50, 'l1_ratio': 0.7},
  {'alpha': 50, 'l1_ratio': 0.9},
  {'alpha': 50, 'l1_ratio': 0.95},
  {'alpha': 50, 'l1_ratio': 0.99},
  {'alpha': 50, 'l1_ratio': 1},
  {'alpha': 100, 'l1_ratio': 0.1},
  {'alpha': 100, 'l1_ratio': 0.5},
  {'alpha': 100, 'l1_ratio': 0.7},
  {'alpha': 100, 'l1_ratio': 0.9},
  {'alpha': 100, 'l1_ratio': 0.95},
  {'alpha': 100, 'l1_ratio': 0.99},
  {'alpha': 100, 'l1_ratio': 1}],
 'split0_test_score': array([ -3.45302084,  -3.32543978,  -3.26988015,  -3.22139663,
         -3.21305234,  -3.20812418,  -3.20694314,  -9.82747531,
         -8.70707114,  -7.92086988,  -6.98385472,  -6.72943525,
         -6.52134437,  -6.46880733, -22.97926512, -27.79348798,
        -29.65550965, -31.13030692, -31.13030692, -31.13030692,
        -31.13030692, -27.38534621, -31.13030692, -31.13030692,
        -31.13030692, -31.13030692, -31.13030692, -31.13030692,
        -31.13030692, -31.13030692, -31.13030692, -31.13030692,
        -31.13030692, -31.13030692, -31.13030692, -31.13030692,
        -31.13030692, -31.13030692, -31.13030692, -31.13030692,
        -31.13030692, -31.13030692]),
 'split1_test_score': array([ -1.40519031,  -1.42752204,  -1.44243242,  -1.46533869,
         -1.47241701,  -1.47848929,  -1.48006527,  -5.26152539,
         -4.2142284 ,  -3.54956183,  -2.79035548,  -2.59128522,
         -2.4313846 ,  -2.39148256, -15.54710357, -18.60226868,
        -21.08505942, -22.5494332 , -22.5494332 , -22.5494332 ,
        -22.5494332 , -19.15953413, -22.5494332 , -22.5494332 ,
        -22.5494332 , -22.5494332 , -22.5494332 , -22.5494332 ,
        -22.5494332 , -22.5494332 , -22.5494332 , -22.5494332 ,
        -22.5494332 , -22.5494332 , -22.5494332 , -22.5494332 ,
        -22.5494332 , -22.5494332 , -22.5494332 , -22.5494332 ,
        -22.5494332 , -22.5494332 ]),
 'split2_test_score': array([ -5.78912486,  -5.59560964,  -5.50243731,  -5.41644694,
         -5.39625768,  -5.38024154,  -5.3762568 , -11.87534671,
        -10.87926082, -10.02487666,  -8.99710816,  -8.7098418 ,
         -8.47108601,  -8.410171  , -23.66824886, -27.1078486 ,
        -29.62947804, -31.15520408, -31.15520408, -31.15520408,
        -31.15520408, -27.63546439, -31.15520408, -31.15520408,
        -31.15520408, -31.15520408, -31.15520408, -31.15520408,
        -31.15520408, -31.15520408, -31.15520408, -31.15520408,
        -31.15520408, -31.15520408, -31.15520408, -31.15520408,
        -31.15520408, -31.15520408, -31.15520408, -31.15520408,
        -31.15520408, -31.15520408]),
 'split3_test_score': array([ -2.18730248,  -2.16308873,  -2.16395003,  -2.1734932 ,
         -2.17745178,  -2.18109704,  -2.18207608,  -7.44919523,
         -6.20454503,  -5.37955333,  -4.41492762,  -4.15631737,
         -3.9463265 ,  -3.8935656 , -19.92106289, -23.94522746,
        -26.72459503, -27.96344707, -27.96344707, -27.96344707,
        -27.96344707, -24.15410359, -27.96344707, -27.96344707,
        -27.96344707, -27.96344707, -27.96344707, -27.96344707,
        -27.96344707, -27.96344707, -27.96344707, -27.96344707,
        -27.96344707, -27.96344707, -27.96344707, -27.96344707,
        -27.96344707, -27.96344707, -27.96344707, -27.96344707,
        -27.96344707, -27.96344707]),
 'split4_test_score': array([ -4.64557625,  -4.45167948,  -4.3567377 ,  -4.26388654,
         -4.24107995,  -4.22296809,  -4.2184595 ,  -8.54232854,
         -7.17303106,  -6.3248362 ,  -5.5457694 ,  -5.32991608,
         -5.15134446,  -5.10592176, -16.26273734, -18.06463498,
        -20.22365404, -21.69819196, -21.69819196, -21.69819196,
        -21.69819196, -18.96816086, -21.69819196, -21.69819196,
        -21.69819196, -21.69819196, -21.69819196, -21.69819196,
        -21.69819196, -21.69819196, -21.69819196, -21.69819196,
        -21.69819196, -21.69819196, -21.69819196, -21.69819196,
        -21.69819196, -21.69819196, -21.69819196, -21.69819196,
        -21.69819196, -21.69819196]),
 'mean_test_score': array([ -3.49604295,  -3.39266793,  -3.34708752,  -3.3081124 ,
         -3.30005175,  -3.29418403,  -3.29276016,  -8.59117424,
         -7.43562729,  -6.63993958,  -5.74640308,  -5.50335914,
         -5.30429719,  -5.25398965, -19.67568356, -23.10269354,
        -25.46365924, -26.89931665, -26.89931665, -26.89931665,
        -26.89931665, -23.46052183, -26.89931665, -26.89931665,
        -26.89931665, -26.89931665, -26.89931665, -26.89931665,
        -26.89931665, -26.89931665, -26.89931665, -26.89931665,
        -26.89931665, -26.89931665, -26.89931665, -26.89931665,
        -26.89931665, -26.89931665, -26.89931665, -26.89931665,
        -26.89931665, -26.89931665]),
 'std_test_score': array([1.591601  , 1.50682717, 1.46276536, 1.41769348, 1.40624761,
        1.39695326, 1.39461278, 2.22293916, 2.25553153, 2.20621303,
        2.12836408, 2.10283486, 2.07994524, 2.07383159, 3.33490073,
        4.10829748, 4.07787705, 4.07723961, 4.07723961, 4.07723961,
        4.07723961, 3.79460801, 4.07723961, 4.07723961, 4.07723961,
        4.07723961, 4.07723961, 4.07723961, 4.07723961, 4.07723961,
        4.07723961, 4.07723961, 4.07723961, 4.07723961, 4.07723961,
        4.07723961, 4.07723961, 4.07723961, 4.07723961, 4.07723961,
        4.07723961, 4.07723961]),
 'rank_test_score': array([ 7,  6,  5,  4,  3,  2,  1, 14, 13, 12, 11, 10,  9,  8, 15, 16, 18,
        19, 19, 19, 19, 17, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
        19, 19, 19, 19, 19, 19, 19, 19], dtype=int32)}

In [186]:
pd.DataFrame(grid_model.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002515,0.002142,0.000633,0.000255,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,7
1,0.000990,0.000235,0.000329,0.000041,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,6
2,0.000740,0.000028,0.000308,0.000026,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,5
3,0.000703,0.000038,0.000281,0.000009,0.1,0.9,"{'alpha': 0.1, 'l1_ratio': 0.9}",-3.221397,-1.465339,-5.416447,-2.173493,-4.263887,-3.308112,1.417693,4
4,0.000730,0.000073,0.000299,0.000041,0.1,0.95,"{'alpha': 0.1, 'l1_ratio': 0.95}",-3.213052,-1.472417,-5.396258,-2.177452,-4.241080,-3.300052,1.406248,3
5,0.000733,0.000066,0.000275,0.000030,0.1,0.99,"{'alpha': 0.1, 'l1_ratio': 0.99}",-3.208124,-1.478489,-5.380242,-2.181097,-4.222968,-3.294184,1.396953,2
6,0.000661,0.000027,0.000266,0.000028,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.206943,-1.480065,-5.376257,-2.182076,-4.218460,-3.292760,1.394613,1
7,0.000595,0.000028,0.000251,0.000019,1,0.1,"{'alpha': 1, 'l1_ratio': 0.1}",-9.827475,-5.261525,-11.875347,-7.449195,-8.542329,-8.591174,2.222939,14
8,0.000617,0.000093,0.000233,0.000005,1,0.5,"{'alpha': 1, 'l1_ratio': 0.5}",-8.707071,-4.214228,-10.879261,-6.204545,-7.173031,-7.435627,2.255532,13
9,0.000582,0.000040,0.000230,0.000007,1,0.7,"{'alpha': 1, 'l1_ratio': 0.7}",-7.920870,-3.549562,-10.024877,-5.379553,-6.324836,-6.639940,2.206213,12
10,0.000561,0.000028,0.000228,0.000007,1,0.9,"{'alpha': 1, 'l1_ratio': 0.9}",-6.983855,-2.790355,-8.997108,-4.414928,-5.545769,-5.746403,2.128364,11
11,0.000604,0.000047,0.000237,0.000016,1,0.95,"{'alpha': 1, 'l1_ratio': 0.95}",-6.729435,-2.591285,-8.709842,-4.156317,-5.329916,-5.503359,2.102835,10
12,0.000576,0.000020,0.000239,0.000015,1,0.99,"{'alpha': 1, 'l1_ratio': 0.99}",-6.521344,-2.431385,-8.471086,-3.946327,-5.151344,-5.304297,2.079945,9
13,0.000596,0.000054,0.000237,0.000015,1,1,"{'alpha': 1, 'l1_ratio': 1}",-6.468807,-2.391483,-8.410171,-3.893566,-5.105922,-5.253990,2.073832,8
14,0.000563,0.000034,0.000232,0.000008,5,0.1,"{'alpha': 5, 'l1_ratio': 0.1}",-22.979265,-15.547104,-23.668249,-19.921063,-16.262737,-19.675684,3.334901,15
15,0.000580,0.000075,0.000235,0.000013,5,0.5,"{'alpha': 5, 'l1_ratio': 0.5}",-27.793488,-18.602269,-27.107849,-23.945227,-18.064635,-23.102694,4.108297,16
16,0.000535,0.000004,0.000223,0.000005,5,0.7,"{'alpha': 5, 'l1_ratio': 0.7}",-29.655510,-21.085059,-29.629478,-26.724595,-20.223654,-25.463659,4.077877,18
17,0.000533,0.000003,0.000223,0.000004,5,0.9,"{'alpha': 5, 'l1_ratio': 0.9}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
18,0.000567,0.000027,0.000232,0.000012,5,0.95,"{'alpha': 5, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
19,0.000545,0.000006,0.000222,0.000004,5,0.99,"{'alpha': 5, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
20,0.000532,0.000004,0.000225,0.000008,5,1,"{'alpha': 5, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
21,0.000594,0.000045,0.000236,0.000019,10,0.1,"{'alpha': 10, 'l1_ratio': 0.1}",-27.385346,-19.159534,-27.635464,-24.154104,-18.968161,-23.460522,3.794608,17
22,0.000538,0.000003,0.000222,0.000005,10,0.5,"{'alpha': 10, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
23,0.000541,0.000004,0.000224,0.000004,10,0.7,"{'alpha': 10, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
24,0.000606,0.000059,0.000228,0.000008,10,0.9,"{'alpha': 10, 'l1_ratio': 0.9}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
25,0.000538,0.000005,0.000224,0.000008,10,0.95,"{'alpha': 10, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
26,0.000569,0.000035,0.000231,0.000007,10,0.99,"{'alpha': 10, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
27,0.000538,0.000008,0.000223,0.000004,10,1,"{'alpha': 10, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
28,0.000543,0.000008,0.000226,0.000004,50,0.1,"{'alpha': 50, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
29,0.000539,0.000010,0.000220,0.000005,50,0.5,"{'alpha': 50, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
30,0.000538,0.000006,0.000224,0.000006,50,0.7,"{'alpha': 50, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
31,0.000540,0.000010,0.000225,0.000005,50,0.9,"{'alpha': 50, 'l1_ratio': 0.9}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
32,0.000548,0.000014,0.000220,0.000004,50,0.95,"{'alpha': 50, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
33,0.000571,0.000051,0.000226,0.000006,50,0.99,"{'alpha': 50, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
34,0.000535,0.000005,0.000221,0.000003,50,1,"{'alpha': 50, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
35,0.000542,0.000009,0.000224,0.000004,100,0.1,"{'alpha': 100, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
36,0.000673,0.000197,0.000260,0.000043,100,0.5,"{'alpha': 100, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
37,0.000815,0.000186,0.000276,0.000038,100,0.7,"{'alpha': 100, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
38,0.000665,0.000106,0.000258,0.000025,100,0.9,"{'alpha': 100, 'l1_ratio': 0.9}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
39,0.000645,0.000114,0.000245,0.000014,100,0.95,"{'alpha': 100, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
40,0.000603,0.000078,0.000229,0.000003,100,0.99,"{'alpha': 100, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19
41,0.000547,0.000009,0.000223,0.000003,100,1,"{'alpha': 100, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,19

In [187]:
y_pred = grid_model.predict(X_test)

In [188]:
from sklearn.metrics import mean_squared_error

array([15.66368907, 19.46408313, 11.5334467 , 16.90361792,  9.28986377,
        7.20512596, 20.12630114, 17.21717961,  9.92059194, 19.08401429,
       12.41632064, 13.90812112, 13.77020299, 21.0764028 , 18.3144613 ,
       10.08244137, 15.55332779,  7.8863488 ,  7.74187755, 20.22579399,
        7.95632931, 18.1169614 , 24.38514439, 22.58250106,  8.15339222,
       12.73095252, 21.27373859,  8.23268934, 12.49004679, 12.52397252,
       10.85578463, 19.10783619, 10.20239152,  6.91681664, 17.22447596,
        7.96982919,  9.39929572,  8.45480843, 10.65442906, 10.75772226,
       13.04497384,  9.92194633, 10.33480469,  8.21121593, 11.62693221,
       10.19036614,  9.11221   , 16.22496113, 13.29734786, 20.61601005,
       12.51850026, 14.00017552, 17.50249596, 11.23188839, 12.64040529,
        5.74152682, 23.02575646, 12.62656713, 18.65905383, 15.16774331])

In [189]:
mean_squared_error(y_test,y_pred)

2.3873426420874737